
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;

  // CSS variables
  --opacity: 1;
  --background: 4, 8, 24;
  --foreground: 252, 252, 252;
  --muted: 20, 24, 48;
  --muted-foreground: 134, 136, 147;
  --accent-vivid: 64, 32, 208;
  --accent-base: 120, 82, 220;
  --accent-sub-base: 30, 70, 180;

  background: rgb(var(--background));
  color: rgb(var(--foreground));

  h1, h2 {
    border-bottom: solid 1px rgb(var(--muted));
    padding-bottom: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
  }

  h3 {
    border-bottom: solid 1px rgb(var(--muted));
    padding-bottom: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .hashes {
    background: linear-gradient(to right, rgb(var(--accent-sub-base)) 0%, rgb(var(--accent-base)) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 18px;
    line-height: 1.7;
  }

  a:hover {
    text-decoration: underline;
  }

  ul > li, ol > li {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 18px;
    line-height: 1.7;
  }

  pre {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(var(--muted), 0.3) !important;
    border: solid 1px rgb(var(--muted));
    border-radius: 0.5rem;
  }

  pre code {
    color: rgb(var(--foreground));
  }

  p > code, li > code {
    background-color: rgba(var(--muted), 0.5) !important;
    border: solid 1px rgb(var(--muted)) !important;
    border-radius: 0.5rem;
    color: rgb(var(--foreground));
  }

  blockquote {
    background: transparent;
    display: block;
    color: rgb(var(--muted-foreground));
    border-left: solid 8px rgb(var(--muted));
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    p > code {
      color: rgb(var(--muted-foreground));
    }
  }

  // .callout {
  //   display: block;
  //   padding: 0.5rem 1rem;
  //   width: 100%;
  //   height: fit-content;
  //   border-radius: 0.75rem;
  //   margin: 3rem 0;
  // }

  .callout-tip {
    background-color: rgb(34 197 94 / 0.3);
    border: solid 1px rgb(34 197 94);
  }
  
  .callout-important {
    background-color: rgb(167 139 250 / 0.3);
    border: solid 1px rgb(167 139 250);
  }

  table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: table;
    margin: 0 auto;
    white-space: nowrap;
    min-width: 1px;
    max-width: 100%;
    font-size: 18px;
    line-height: 1.7;

    thead {
      background-color: rgba(var(--muted), 0.5);
    }

		tr {
      border-collapse: collapse;
      border-bottom: solid 1px rgb(var(--muted));
		}

		th {
			padding: 0.5rem 1rem;
      border: none;
		}

		td {
      padding: 0.5rem 1rem;
      border: none;
		}

    code {
      background-color: rgba(var(--muted), 0.5) !important;
      border: solid 1px rgb(var(--muted)) !important;
      border-radius: 0.5rem;
      color: rgb(var(--foreground));
    }
  }

  .katex-display {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 0.5px rgb(var(--muted));
  }
}
