@use "sass:color";

// Component Colors
$black: #000000;
$white: #ffffff;
$slate: #e8ecf1;
$sten-white: #f3f3f3;
$deep-gray: #090d18;
$dark-gray: #111827;
$shadow-gray: #cccccc;
$slate-400: #94a3b8;
$gray-600: #4b5563;

$red: #dc2626;
$orange: #f7a25f;
$blue: #3b82f6;
$sky: #38bdf8;
$yellow: #facc15;
$amber: #fbbf24;
$green: #22c55e;
$emerald: #76d5b4;
$lime: #bef264;
$purple: #a855f7;
$violet: #7c3aed;
$pink: #f472b6;
$rose: #f43f5e;
$brown: #713f12;

// Accent Colors
$accent-colors: (
	"red": $red,
	"orange": $orange,
	"blue": $blue,
	"sky": $sky,
	"yellow": $yellow,
	"amber": $amber,
	"green": $green,
	"emerald": $emerald,
	"lime": $lime,
	"purple": $purple,
	"violet": $violet,
	"pink": $pink,
	"rose": $rose,
	"brown": $brown,
);

// Hex to RGB
@function hexToRgb($hex) {
	@return color.channel($hex, "red"), color.channel($hex, "green"), color.channel($hex, "blue");
}

// rgba wrapper
@function getColor($color-name, $alpha: 1) {
	@return rgba(var(#{$color-name}), $alpha);
}

// gradient
@function getGradient($angle, $start, $end, $alpha: 1) {
	@return linear-gradient($angle, rgba(var(#{$start}), $alpha), rgba(var(#{$end}), $alpha));
}

@function getGradientFade($angle, $start, $end, $fade, $alpha: 1) {
	@return linear-gradient(
		$angle,
		rgba(var(#{$fade}), $alpha),
		rgba(var(#{$start}), $alpha),
		rgba(var(#{$end}), $alpha),
		rgba(var(#{$fade}), $alpha)
	);
}

// Define Themes
$light-themes: (
	bg-primary: #e8ecf1,
	bg-secondary: #f3f3f3,
	text-primary: #000000,
	text-secondary: #4b5563,
	text-code: #90a4ae,
);

$dark-themes: (
	bg-primary: #090d18,
	bg-secondary: #111827,
	text-primary: #ffffff,
	text-secondary: #94a3b8,
	text-code: #eeffff,
);

// Light Theme
.light {
	@each $name, $color in $light-themes {
		--#{$name}-color: #{hexToRgb($color)};
	}
}

// Dark Theme
.dark {
	@each $name, $color in $dark-themes {
		--#{$name}-color: #{hexToRgb($color)};
	}

	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}
