@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		--opacity: 1;

		--background: 249, 249, 249; // ベースの背景色
		--foreground: 3, 3, 3; // ベースの文字色

		--muted: 228, 232, 250; // 補足要素の背景色
		--muted-foreground: 75, 85, 99; // 補足要素の文字色

		--accent-vivid: 120, 82, 220;
		--accent-base: 183, 154, 237;
		--accent-sub-base: 82, 152, 236;
	}

	// ダークモード時の配色
	.dark {
		--opacity: 1;

		--background: 4, 8, 24;
		--foreground: 252, 252, 252;

		--muted: 20, 24, 48;
		--muted-foreground: 134, 136, 147;

		--accent-vivid: 64, 32, 208;
		--accent-base: 120, 82, 220;
		--accent-sub-base: 30, 70, 180;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.hidden-scrollbar {
		-ms-overflow-style: none; /* IE, Edge 対応 */
		scrollbar-width: none; /* Firefox 対応 */
	}
	.hidden-scrollbar::-webkit-scrollbar {
		/* Chrome, Safari 対応 */
		display: none;
	}
}
