---
import Base from "../../layouts/Base.astro";
import { getCollection } from 'astro:content';

export const getStaticPaths = async () => {

  const articles = await getCollection("article");
  
  return articles.map((article) => ({
    params: { slug: article.slug }, 
    props: { article },
  }));

}

const { article } = Astro.props;
const { Content } = await article.render();
---
<Base title={`${article.data.title} | ${import.meta.env.APP_NAME}`} 
      description={article.data.description ?? ""} 
      ogImage={new URL(`/thambnail/${article.slug}.png`, import.meta.env.APP_URL)}
>
  <h1>{article.data.title}</h1>
  <Content />
</Base>