---
import Base from "../../layouts/Base.astro";
import { type GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import ArticleCard from "../../components/card/ArticleCard";

export const getStaticPaths = (async ({ paginate }: GetStaticPathsOptions) => {
  const articles = await getCollection("article", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== false : true;
  });

  const sortedArticles = articles.sort((a, b) => {
    return b.data.publishDate.getTime() - a.data.publishDate.getTime();
  })

  return paginate(sortedArticles, { pageSize: 10 });
});

const { page } = Astro.props;
---

<Base title={`記事一覧 | ページ${page.currentPage} | ${import.meta.env.APP_NAME}`} description="プログラミングについての情報発信">
	<section class="w-full flex flex-col">
		<ul class="flex flex-col lg:flex-row lg:flex-wrap gap-8 lg:px-8">
			{page.data.map((article) => (
				<li class="lg:w-[calc(33.33%-1.333rem)]">
					<ArticleCard article={article} client:load />
				</li>
			))}
		</ul>
	</section>
</Base>
