---
import { type CollectionEntry } from "astro:content";
import type { Page } from "astro";
import ArticleCard from "../card/ArticleCard.astro";

interface Props {
	articles: CollectionEntry<"article">[] | Page["data"];
}

const { articles } = Astro.props;
---

<ul class="flex flex-col items-center gap-8">
	{articles.map((article) => (
		<li class="w-full">
			<ArticleCard article={article} />
		</li>
	))}
</ul>
