---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { IoChevronBack, IoChevronForward } from "solid-icons/io";

interface Props {
	slug: CollectionEntry<"article">["slug"];
}

const { slug } = Astro.props;

const articles = await getCollection("article", ({ data }) => {
	return import.meta.env.PROD ? !data.isDraft && !data.isLimited : true;
});

const getSideArticles = async (
	articles: CollectionEntry<"article">[],
	slug: CollectionEntry<"article">["slug"]
): Promise<{
	prev: CollectionEntry<"article"> | undefined;
	next: CollectionEntry<"article"> | undefined;
}> => {
	const notedArticleIdx = articles.map((article) => article.slug).indexOf(slug);

	const prev = articles[notedArticleIdx + 1];
	const next = articles[notedArticleIdx - 1];

	return {
		prev,
		next,
	};
};

const { prev, next } = await getSideArticles(
	articles.sort((a, b) => {
		return b.data.publishDate.getTime() - a.data.publishDate.getTime();
	}),
	slug
);
---

<div class="mt-16 flex flex-col lg:flex-row lg:justify-between items-center gap-4 lg:gap-8">
	{
		prev && (
			<a
				href={`/blog/articles/${prev.slug}`}
				class="w-full lg:w-[calc(50%-1rem)] h-20 border border-muted-background bg-muted-transparent hover:bg-muted-background text-muted-foreground hover:text-foreground transition-colors duration-150 rounded-xl"
			>
				<div class="h-full flex justify-between items-center">
					<div class="w-1/6 h-full bg-muted-background rounded-l-[11px] relative">
						<IoChevronBack class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl" />
					</div>
					<div class="w-5/6 h-full p-2">
						<span class="font-semibold text-ellipsis">{prev.data.title}</span>
					</div>
				</div>
			</a>
		)
	}
	{
		next && (
			<a
				href={`/blog/articles/${next.slug}`}
				class={`w-full lg:w-[calc(50%-1rem)] ${!prev && "lg:ml-[calc(50%+2rem)]"} h-20 border border-muted-background bg-muted-transparent hover:bg-muted-background text-muted-foreground hover:text-foreground transition-colors duration-150 rounded-xl`}
			>
				<div class="h-full flex justify-between items-center">
					<div class="w-5/6 h-full p-2">
						<span class="font-semibold text-ellipsis">{next.data.title}</span>
					</div>
					<div class="w-1/6 h-full bg-muted-background rounded-r-[11px] relative">
						<IoChevronForward class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl" />
					</div>
				</div>
			</a>
		)
	}
</div>
