---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { IoChevronBack, IoChevronForward } from "solid-icons/io";

interface Props {
	slug: CollectionEntry<"article">["slug"];
}

const { slug } = Astro.props;

const articles = await getCollection("article", ({ data }) => {
	return import.meta.env.PROD ? data.isDraft === false : true;
});

const getSideArticles = async (
	articles: CollectionEntry<"article">[],
	slug: CollectionEntry<"article">["slug"]
): Promise<{
	prev: CollectionEntry<"article"> | undefined;
	next: CollectionEntry<"article"> | undefined;
}> => {
	const notedArticleIdx = articles.map((article) => article.slug).indexOf(slug);

	const prev = articles[notedArticleIdx + 1];
	const next = articles[notedArticleIdx - 1];

	return {
		prev,
		next,
	};
};

const { prev, next } = await getSideArticles(
	articles.sort((a, b) => {
		return b.data.publishDate.getTime() - a.data.publishDate.getTime();
	}),
	slug
);
---

<div class="mt-16 flex flex-col lg:flex-row justify-between items-center gap-4 lg:gap-8">
	<div
		class={`w-full lg:w-[calc(50%-1rem)] h-20 ${prev ? "bg-muted-background hover:opacity-70" : "bg-background"} transition-opacity duration-150 rounded-xl`}
	>
		{
			prev && (
				<a href={`/blog/articles/${prev.slug}`}>
					<div class="relative flex justify-between items-center gap-2">
						<div class="relative w-[1.6rem] h-20">
							<IoChevronBack class="absolute left-1 top-1/2 -translate-y-1/2 text-2xl" />
						</div>
						<div class="px-1 font-semibold whitespace-pre-wrap truncate">{prev.data.title}</div>
					</div>
				</a>
			)
		}
	</div>
	<div
		class={`w-full lg:w-[calc(50%-1rem)] h-20 ${next ? "bg-muted-background hover:opacity-70" : "bg-background"} transition-opacity duration-150 rounded-xl`}
	>
		{
			next && (
				<a href={`/blog/articles/${next.slug}`}>
					<div class="relative flex justify-between items-center gap-2">
						<div class="px-1 font-semibold whitespace-pre-wrap truncate">{next.data.title}</div>
						<div class="relative w-[1.6rem] h-20">
							<IoChevronForward class="absolute right-1 top-1/2 -translate-y-1/2 text-2xl" />
						</div>
					</div>
				</a>
			)
		}
	</div>
</div>
