---
import Base from "../../../../layouts/Base.astro";
import { type GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import ArticleCardsPanel from "../../../../components/large/ArticleCardsPanel.astro";
import Breadcrumbs from "../../../../components/common/Breadcrumbs.astro";

export const getStaticPaths = (async ({ paginate }: GetStaticPathsOptions) => {

  const tags = await getCollection("tag", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft === false : true;
  });
  const articles = await getCollection("article", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft === false : true;
  });

  const routes = tags.flatMap((tag) => {
		const filteredArticles = articles.filter(({ data }) => {
			return (
      data.tags &&
      data.tags.length > 0 &&
      data.tags.map(({ id }) => id).includes(tag.id)
			);
		});
		return paginate(filteredArticles, {
			params: { tag: tag.id },
			pageSize: 10,
			props: { tag: tag },
		});
	});
	return routes;
});

const { page, tag } = Astro.props;
---

<Base title={`Blog | ${import.meta.env.APP_NAME}`} description="Webプログラミングについての情報を発信しています。">
  <Breadcrumbs tagId={tag.id} />
	<section class="w-full flex flex-col lg:flex-row">
    <article class="lg:w-[65%]">
      <ArticleCardsPanel articles={page.data} />
    </article>
    <aside class="lg:w-[35%]">

    </aside>
	</section>
</Base>