---
import { type CollectionEntry } from "astro:content";
import { BsCardImage } from "solid-icons/bs";
import ogs from "open-graph-scraper";

interface Props {
	bookmark: CollectionEntry<"bookmark">;
}

const { bookmark } = Astro.props;

const getOgp = async (url: string) => {
	try {
		const { result } = await ogs({ url });
		return result;
	} catch (error) {
		console.error("Error fetching Open Graph Data:", error);
		return {};
	}
};

const ogp = await getOgp(bookmark.data.url);

const title = ogp.ogTitle ?? "No title";
const image = ogp.ogImage?.[0]?.url ?? "";
---

<a
	href={bookmark.data.url}
	target="_blank"
	rel="noopener noreferrer"
	class="relative w-full lg:w-96 flex flex-col border border-muted-background bg-muted-background/30 rounded-xl hover:opacity-70 transition-opacity duration-200"
>
	<span class="w-full h-40">
		{
			image ? (
				<img
					src={image}
					alt={title}
					loading="lazy"
					class="rounded-t-xl object-cover w-full h-full"
				/>
			) : (
				<BsCardImage class="w-full h-full from-accent-sub-base to-accent-base bg-gradient-to-r rounded-t-xl" />
			)
		}
	</span>
	<span class="px-2 py-4 w-full border-t border-muted-background h-24">
		<span class="font-bold text-2xl tracking-wide">{bookmark.data.name}</span>
	</span>
</a>
