---
import { Image } from "astro:assets";
import ProfileImage from "../../assets/images/profile-image.jpg";
import { SiGithub, SiZenn, SiTwitter } from "solid-icons/si";
import { IoLogoRss } from "solid-icons/io";
---

<section class="relative w-full rounded-xl flex flex-col items-center gap-2 lg:gap-4 p-4 shadow-lg">
	<Image
		src={ProfileImage}
		alt="Profile Image"
		class="w-full h-full object-cover absolute top-0 left-0 z-0 rounded-xl filter grayscale select-none shadow-lg"
		width={1008}
		height={756}
	/>
	<div class="bg-background/80 z-10 p-2 xl:p-4 rounded-xl flex flex-col items-center gap-4">
		<div class="flex items-center gap-3 lg:gap-4">
			<div class="w-2 h-5 lg:h-7 bg-gradient-to-b from-accent-sub-base to-accent-base"></div>
			<h1 class="text-xl md:text-2xl xl:text-3xl font-extrabold tracking-wide">Shota Inoue</h1>
		</div>
		<p class="text-sm xl:text-md text-muted-foreground font-medium">
			<span>計算化学の大学院生です。</span>
			<br />
			<span>MDと機械学習を用いた機能性材料探索をやっています。</span>
		</p>
		<ul class="w-full px-2 xl:px-4 flex items-center justify-center gap-8">
			<li>
				<a
					href="/about"
					class="whitespace-nowrap text-sm xl:text-md font-semibold tracking-wide bg-gradient-to-r from-accent-sub-base to-accent-base px-2 py-1 rounded-xl"
				>
					About Me
				</a>
			</li>
			<ul class="flex items-center gap-4">
				<li>
					<a
						href={import.meta.env.ZENN_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-md xl:text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiZenn />
					</a>
				</li>
				<li>
					<a
						href={import.meta.env.X_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-md xl:text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiTwitter />
					</a>
				</li>
				<li>
					<a
						href={import.meta.env.GITHUB_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-md xl:text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiGithub />
					</a>
				</li>
				<li>
					<a
						href="/rss.xml"
						target="_blank"
						rel="noopener noreferrer"
						class="text-md xl:text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<IoLogoRss />
					</a>
				</li>
			</ul>
		</ul>
	</div>
</section>
