---
import { type CollectionEntry, getEntry } from "astro:content";
import { IoPricetag } from "solid-icons/io";
import { Image } from "astro:assets";

interface Props {
	id: CollectionEntry<"tag">["id"];
	isLink?: boolean;
}

const { id, isLink = true } = Astro.props;
const tag = await getEntry("tag", id);
---

<a href={`/blog/tag/${id}/1`} class={`${
	isLink
	? "cursor-pointer hover:bg-accent-foreground hover:text-foreground transition"
	: "pointer-events-none"
	} w-fit h-fit inline-flex items-center gap-1 lg:gap-[0.375rem] text-muted-foreground rounded-md px-1`}
>
	<figure class="h-3 text-sm lg:h-[1.125rem] lg:text-lg">
		{
			tag.data.icon ? (
				<Image
					src={tag.data.icon}
					width={20}
					height={20}
					alt={tag.data.name}
					class="w-full h-full object-contain"
				/>
			) : (
		  <IoPricetag />
		)
		}
	</figure>
	<figcaption class={`${isLink ? "cursor-pointer" : "pointer-events-none"} text-sm lg:text-lg font-medium`}>
		{tag.data.name}
	</figcaption>
</a>
