---
import Breadcrumbs from "../components/common/Breadcrumbs.astro";
import ContactForm from "../components/form/ContactForm";
import Base from "../layouts/Base.astro";
import { AllowedRoutes } from "../utils/common/route";

const routes = new AllowedRoutes(Astro.url.pathname);
const { meta } = routes.getSubsetPageMeta();
---

<Base title={`${meta.name} | ${import.meta.env.APP_NAME}`} description=`${meta.description}`>
	<section class="pt-8 w-full flex flex-col gap-8">
		<Breadcrumbs />
		<ContactForm client:load />
	</section>
</Base>
