---
import ArticleCardsPanel from "../components/large/ArticleCardsPanel.astro";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import { AllowedRoutes } from "../route";
import { IoArrowForward } from "solid-icons/io";

const articles = await getCollection("article", ({ data }) => {
	return import.meta.env.PROD ? data.isDraft === false : true;
});

const routes = new AllowedRoutes(Astro.url.pathname);
const { meta } = routes.getRootPageMeta();
---

<Base title={`${meta.name} | ${import.meta.env.APP_NAME}`} description=`${meta.description}`>
	<section class="min-h-dvh lg:translate-y-[-80px] 2xl:translate-y-0">
		<div class="flex flex-col items-center justify-center">
			<div class="w-full h-[320px] lg:w-1/2 lg:h-[640px] relative z-0">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="512px"
					height="512px"
					viewBox="0 0 512 512"
					fill="rgba(var(--foreground), var(--opacity))"
					class="absolute left-1/2 -translate-x-1/2 w-[320px] h-[320px] sm:w-[480px] sm:h-[480px] lg:w-[640px] lg:h-[640px]"
				>
					<g transform="translate(0, 512) scale(0.1, -0.1)" stroke="none" id="app-logo">
						<path
							d="M1425 3880 c-76 -30 -147 -97 -179 -170 -25 -55 -28 -72 -24 -143 4
			-95 26 -147 90 -214 60 -61 125 -87 223 -87 68 -1 89 3 137 27 193 95 239 355
			88 506 -66 66 -126 93 -214 98 -54 2 -83 -2 -121 -17z"
						></path>
						<path
							d="M570 3225 c-133 -29 -279 -109 -339 -184 -130 -164 -135 -403 -10
			-546 79 -90 187 -137 494 -214 249 -63 325 -111 325 -202 0 -199 -449 -222
			-760 -39 -29 17 -57 27 -61 23 -5 -5 -34 -65 -64 -133 -53 -117 -55 -125 -38
			-138 78 -59 211 -111 365 -143 146 -31 367 -31 492 0 163 39 279 111 352 217
			l39 57 3 -142 3 -141 164 0 165 0 2 558 3 557 157 -475 c86 -261 169 -512 183
			-558 l26 -82 186 2 186 3 164 490 c90 270 167 493 171 497 4 4 80 -217 168
			-490 l162 -497 187 0 187 0 182 554 181 555 3 -557 2 -557 550 0 550 0 0 140
			0 140 -375 0 -375 0 -2 613 -3 612 -1415 0 -1415 0 4 -425 4 -425 -61 66 c-95
			103 -189 145 -492 219 -253 61 -318 97 -327 183 -9 79 45 144 145 173 44 13
			83 15 181 11 139 -5 216 -24 334 -82 l68 -34 16 37 c8 20 32 79 54 131 21 52
			39 98 39 102 0 20 -134 77 -260 111 -100 27 -402 35 -500 13z m1980 -324 c0
			-11 -259 -780 -269 -798 -4 -7 -41 96 -84 230 -43 133 -102 317 -131 410 l-54
			167 269 0 c157 0 269 -4 269 -9z m1010 2 c0 -16 -264 -813 -269 -813 -5 0 -59
			163 -227 688 l-42 132 269 0 c148 0 269 -3 269 -7z"
						></path>
					</g>
				</svg>
				<p
					class="text-foreground lg:text-xl xl:text-2xl font-extrabold whitespace-nowrap absolute top-[240px] sm:top-[344px] lg:top-[480px] left-1/2 -translate-x-1/2"
				>
					Tech Blog by Shota Inoue
				</p>
			</div>
			<ul
				class="sm:mt-[160px] lg:mt-0 w-full flex flex-col sm:flex-row justify-center items-center gap-8 z-10"
			>
				<li>
					<a
						href="/blog/1"
						class="w-[240px] lg:w-[300px] font-extrabold text-2xl lg:text-3xl inline-flex justify-center items-center gap-2 px-8 py-4 bg-gradient-to-r from-accent-sub-base to-accent-base rounded-full hover:opacity-70 transition duration-150"
					>
						<span>Read Blog</span>
						<IoArrowForward />
					</a>
				</li>
				<li>
					<a
						href="/about"
						class="w-[240px] lg:w-[300px] text-foreground font-extrabold text-2xl lg:text-3xl inline-flex justify-center items-center gap-2 px-[calc(2rem-2px)] py-[calc(1rem-2px)] border-2 border-foreground rounded-full hover:opacity-70 transition duration-150"
					>
						<span>About Me</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="lg:px-[40px] 2xl:px-[120px] w-full flex flex-col gap-12">
		<div class="flex flex-col lg:flex-row justify-between items-center">
			<h2 class="text-center lg:text-left text-4xl lg:text-6xl font-extrabold">Latest Articles</h2>
			<ul class="hidden lg:flex items-center gap-6">
				<li>
					<a
						href="/blog/1"
						class="text-muted-foreground hover:text-foreground transition duration-150 font-medium text-xs sm:text-sm lg:text-lg"
					>
						<span>Top</span>
					</a>
				</li>
				<li>
					<a
						href="/blog/categories"
						class="text-muted-foreground hover:text-foreground transition duration-150 font-medium text-xs sm:text-sm lg:text-lg"
					>
						<span>Categories</span>
					</a>
				</li>
				<li>
					<a
						href="/blog/tags"
						class="text-muted-foreground hover:text-foreground transition duration-150 font-medium text-xs sm:text-sm lg:text-lg"
					>
						<span>Tags</span>
					</a>
				</li>
				<li>
					<a
						href="/blog/archives"
						class="text-muted-foreground hover:text-foreground transition duration-150 font-medium text-xs sm:text-sm lg:text-lg"
					>
						<span>Archives</span>
					</a>
				</li>
			</ul>
		</div>
		<ArticleCardsPanel
			articles={articles
				.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
				.slice(0, 5)}
		/>
	</section>
</Base>
