---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== false : true;
});

console.table(articles)
---

<Base title="Home" description="Home Page">
	<ul>
		{
			articles.map((article) => (
				<li>
					<a href={`/article/${article.slug}`}>{article.data.title}</a>
				</li>
			))
		}
	</ul>
</Base>
