---
import ArticleCardsPanel from "../components/large/ArticleCardsPanel.astro";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("article", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft === false : true;
});
---

<Base title={`${import.meta.env.APP_NAME}`} description="Webプログラミングについての情報を発信しています。">
	<section class="w-full flex flex-col">
		<ArticleCardsPanel articles={articles.slice(0, 6)} />
	</section>
</Base>
