---
import ArticleCard from "../components/card/ArticleCard";
import Base from "../layouts/Base.astro";
import { allArticles } from "../utils/collections";

const articles = allArticles.filter((article) => article.data.isDraft === false);
---

<Base title={`${import.meta.env.APP_NAME}`} description="プログラミングについての情報発信">
	<section class="w-full flex flex-col">
	</section>
</Base>
