---
import ArticleCardsPanel from "../components/large/ArticleCardsPanel.astro";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import { AllowedRoutes } from "../utils/common/route";
import { Image } from "astro:assets";

const articles = await getCollection("article", ({ data }) => {
	return import.meta.env.PROD ? data.isDraft === false : true;
});

const routes = new AllowedRoutes(Astro.url.pathname);
const { meta } = routes.getRootPageMeta();
---

<Base title={`${meta.name} | ${import.meta.env.APP_NAME}`} description=`${meta.description}`>
	<section class="mt-[100vh] w-full flex flex-col">
		<ArticleCardsPanel
			articles={articles
				.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
				.slice(0, 5)}
		/>
	</section>
</Base>
