---
import Base from "../layouts/Base.astro";
---

<Base title={`Privacy policy | ${import.meta.env.APP_NAME}`} description=`${import.meta.env.APP_NAME}のプライバシーポリシーを掲載しています。`>
	<section class="w-full flex flex-col">
	</section>
</Base>