---
import Breadcrumbs from "../components/common/Breadcrumbs.astro";
import Base from "../layouts/Base.astro";
---

<Base title={`Works | ${import.meta.env.APP_NAME}`} description="過去の制作物や実績を掲載しています。">
	<Breadcrumbs />
	<section class="w-full flex flex-col">
	</section>
</Base>