---
import Base from "../../../layouts/Base.astro";
---

<Base title={`Archives | ${import.meta.env.APP_NAME}`} description="記事のアーカイブとスタッツを公開しています。">
	<section class="w-full flex flex-col">
	</section>
</Base>