---
interface Props {
	id: string;
}

const { id } = Astro.props;
---

<h2 id={id} class="mt-8 mb-4 text-xl sm:text-2xl lg:text-3xl font-bold flex items-center gap-2 w-full pb-1 border-b border-muted-background">
	<span class="bg-gradient-to-r from-accent-sub-base to-accent-base bg-clip-text text-tranparent">##</span>
	<slot />
</h2>