---
import type { CollectionEntry } from "astro:content";
import { IoChevronForward } from "solid-icons/io";
import { AllowedRoutes } from "../../utils/common/route";
import TagCard from "../card/TagCard.astro";

const route = new AllowedRoutes(Astro.url.pathname);
interface Props {
  tagId?: CollectionEntry<"tag">["id"];
}

const { tagId } = Astro.props;
---

  <ul class="pt-4 flex items-center gap-1">
    <li class="flex items-center">
      <a href="/blog/1" class="font-semibold text-sm lg:text-lg text-muted-foreground hover:text-accent-foreground transition-colors duration-150">
        {route.getRootPageName()}
      </a>
      <span class="text-base lg:text-xl text-muted-foreground">
        <IoChevronForward />
      </span>
    </li>
    {
      tagId && (
        <li>
          <TagCard id={tagId} />
        </li>
      )
    }
  </ul>