---

---

<footer class="w-full sticky top-[100dvh] h-8 bg-muted-background">
  <nav>
    <p class="text-sm absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">&copy; {new Date().getFullYear()} Shota Inoue</p>
    <ul class="text-xs flex items-center gap-8 absolute top-1/2 right-8 -translate-y-1/2">
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</footer>