---
import SwitchTheme from "../button/SwitchTheme";
import Hamburger from "../button/Hamburger";
import OpenSearchInput from "../button/OpenSearchInput";
---

<header class="sticky lg:hidden top-0 w-full h-9 sm:h-12 bg-muted-background shadow-lg z-50">
  <nav class="flex items-center justify-between px-2 sm:px-4 lg:px-6">
    <a href="/" class="text-lg sm:text-lg md:text-2xl font-bold">
      {import.meta.env.APP_NAME}
    </a>
    <ul class="flex items-center gap-4">
      <li>
        <OpenSearchInput client:load />
      </li>
      <li>
        <SwitchTheme client:load />
      </li>
      <li>
        <Hamburger client:load />
      </li>
    </ul>
  </nav>
</header>